<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="description" name="description">
    <meta name="google" content="notranslate" />

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">
    
    <link href="./assets/favicon.ico" rel="icon">

    <title>Spam Detector</title>

    <link href="../static/css/home_styles.css" rel="stylesheet">

  </head>

  <body> 

    <!-- app content starts here -->
      <div class="background-image-container white-text-container">
        <div class="container">
          <div class="row">
            <div class="col-xs-offset-1">
              <h1>Spam Detector For SMS Messages</h1>
              <p>Check whether your SMS messages are spam or not. </p>
              <br>
            </div>
          </div>
        </div>
      </div>
    <!-- app content starts here -->

    <!-- SMS form starts here -->
      <div id="check" class="section-container contact-container">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-12">
              <div class="section-container-spacer">
                <h3 class="text-center">Enter your SMS below and click on submit to check if it's spam or not</h3>
              </div>
              <div class="card-container">
                <div class="card card-shadow col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 reveal">
                  <form action="{{ url_for('predict')}}" method="POST" class="reveal-content ">
                    <div class="row">
                      <div class="col-md-7">
                        <div class="form-group">
                          <textarea name="message" class="form-control" rows="3" placeholder="Enter your message"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary btn-blue">Submit</button>
                      </div>
                    </div>
                  </form>
                </div>
                </div>
              </div>
            </div>  
          </div>
        </div>
      </div>
    <!-- SMS form ends here -->

  </body>
</html>